.game {
    background: darkslategrey;
    width: 1fr;
    height: auto;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.game img {
    width: 640px;
    height: 480px;
}
.game button {
    width: 240px;
    height: auto;
    color: black;
    font-size: 48px;
}
.game h2 {
    font-size: 48px;
    color: darkslategrey;
    margin: 10px;
    padding: 10px;
}

.game h2:hover {
    color: black;
}
.game h1 {
    font-size: 64px;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
}

