.myFriends a {

}
.myFriends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    font-size: 24px;
}
.myFriends a {
    text-decoration: none;
    color: black;
}
