.news1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    /*justify-content: center;*/
    }
.news1 img {
    width: 100%
;

}
/*.text1 {*/
/*    text-align: left;*/
/*}*/