.grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: minmax(100px, auto) minmax(500px, auto) 100px;
    background-color: white;
    grid-gap: 20px;
    border-radius: 40px;
    grid-template-areas: "h h"
                        "n c"
                        "f f";


    }


.nav {
    background-color: #EAEBEF;
    grid-area: n;
    grid-row: 2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}

.header {
    background-color: #4167B2;
    grid-area: h;
    grid-row: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.content {
    background-color: #EAEBEF;
    grid-area: c;
    grid-row: 2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}

.footer {
    background-color: #EAEBEF;
    grid-area: f;
    grid-column: 1 / -1;
    grid-row: 3;


}
