.navBlock {
    color: #242222;
    font-size: 32px;
    background-color: #EAEBEF;

}

.navBlock a {
    text-decoration: none;
    color: #242222;
    padding-top: 20px;
}

.navBlock img {
    width: 40px;
    border-radius: 20px;
}

.item a {
    display: flex;
    align-items: center;
}


.item2 a {
    display: flex;
    align-items: center;
}

.navBlock a:hover {
    color: red;

}

.navBlock a.active {
    color: gold;
}